<!DOCTYPE html>
<html lang="en">
  <%-include("layouts/header");-%>
  <body>
    <header>
      <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">coffee delight</span>
        <span class="site-heading-lower">A Joyful Brew</span>
      </h1>
    </header>
    <!-- Navigation-->
    <%-include("layouts/navbar");-%>
    <section class="page-section about-heading">
      <div class="container">
        <img
          class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
          src="assets/img/about.jpg"
          alt="..." />
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"
                    >Strong Coffee, Strong Roots</span
                  >
                  <span class="section-heading-lower">About Our Cafe</span>
                </h2>
                <p>
                  Welcome to our coffee shop! Let's take a journey back to the
                  beginning of our story. It all started with a passion for
                  coffee and a dream to create a space where people could come
                  together to enjoy exceptional brews in a cozy and inviting
                  atmosphere. Our founders, embarked on a mission to share their
                  love for coffee with the community and create a gathering
                  place that would soon become a local favorite.
                </p>
                <p class="mb-0">
                  Drawing inspiration from their travels and experiences, they
                  carefully curated a menu of specialty coffee blends, each
                  crafted with precision and care. From the moment the first
                  bean was roasted to perfection, our coffee shop was born, and
                  it quickly became a hub for coffee enthusiasts and casual
                  visitors alike. With dedication, hard work, and a commitment
                  to quality, our coffee shop has grown into a beloved
                  establishment known for its exceptional coffee, friendly
                  service, and vibrant ambiance. Today, we continue to uphold
                  the values and traditions that inspired our journey, welcoming
                  everyone to join us in savoring the simple pleasure of a great
                  cup of coffee.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%-include("layouts/footer");-%> <%-include("layouts/scripts");-%>
  </body>
</html>
