<!DOCTYPE html>
<html lang="en">
  <%-include("layouts/header");-%>
  <body>
    <header>
      <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">coffee delight</span>
        <span class="site-heading-lower">A Joyful Brew</span>
      </h1>
    </header>
    <!-- Navigation-->
    <%-include("layouts/navbar");-%>
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Blended to Perfection</span>
                <span class="section-heading-lower">Coffees & Teas</span>
              </h2>
            </div>
          </div>
          <img
            class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
            src="assets/img/products-01.jpg"
            alt="..." />
          <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                At our coffee shop, each cup is a masterpiece crafted with
                precision and care. We take pride in blending our coffee to
                perfection, ensuring that every sip delivers a rich and
                satisfying experience. From selecting the finest beans to
                meticulously roasting and grinding them, we pay attention to
                every detail to create a harmonious balance of flavor and aroma.
                Whether you prefer a bold espresso or a smooth latte, our
                expertly blended coffees promise to delight your senses and
                leave you craving for more. Indulge in the perfection of our
                coffee and elevate your coffee-drinking experience to new
                heights.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex me-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper"
                  >Delicious Treats, Good Eats</span
                >
                <span class="section-heading-lower">Bakery & Kitchen</span>
              </h2>
            </div>
          </div>
          <img
            class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
            src="assets/img/products-02.jpg"
            alt="..." />
          <div class="product-item-description d-flex ms-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                Indulge in our freshly baked snacks, from flaky pastries to
                irresistible cookies. Perfectly paired with your favorite
                coffee, our treats offer a delightful balance of flavors.
                Elevate your coffee break with our tempting selection and
                satisfy your cravings with every bite.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">From Around the World</span>
                <span class="section-heading-lower"
                  >Bulk Speciality Blends</span
                >
              </h2>
            </div>
          </div>
          <img
            class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
            src="assets/img/bulkcoffee.avif"
            alt="..." />
          <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
                Enjoy the convenience of our bulk coffee packages, available in
                both powder and whole bean options. Sourced from premium beans,
                our coffee is expertly roasted and packaged to preserve
                freshness. Whether you prefer the convenience of pre-ground
                powder or the versatility of whole beans, our bulk packages
                ensure you always have your favorite brew on hand. Experience
                the rich aroma and bold flavor of freshly ground coffee in every
                cup.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%-include("layouts/footer");-%> <%-include("layouts/scripts");-%>
  </body>
</html>
